/*Sophia Huskey
  Styles page
*/

body{
  background-image: url("background.jpg");
}

.cols{
  width: 100%;
  padding: 50px 50px 10px 10px;
}

h1{
  color: white;
  font-style: italic;
  font-family: sans-serif;
  text-align: center;
}

h2{
  color: white;
  text-align: center;
  font-size: 20px;
}

p{
  color: white;
}

img{
  width: 450px;
  height:auto;
  margin: 0 0 10px 0;
  float: none;

}
.Image2{
  display: none;
}

ol{
  color: white;
  text-align: center;
}

.clearfix:after {content: ""; display: table;clear: both;}
@media screen and (min-width:1216px) {
  .col1{
    width: 100%;
    margin-left: 5%;
    text-align: center;
  }

  .col2, .col3{
    width: 45%;
    float: left;
    margin-left: 5%;
    text-align: center;
  }

}

@media screen and (min-width:1575px) {

.col1, .col2, .col3{
  float: left;
  width: 25%;
}
.Image2{
  display: block;
}

}
