/*Sophia Huskey
  Styles page
*/

body{
  background-image: url("background.jpg");
}

h1{
  color: white;
  font-style: italic;
  font-family: sans-serif;
  text-align: center;
}

h2{
  color: white;
  text-align: center;
  font-size: 20px;
}

p{
  color: white;
}

img{
  width: 450px;
  height:auto;
  margin: 0 0 10px 0;
  float: none;

}

ol{
  color: white;
  text-align: center;
}

.clearfix:after {content: ""; display: table;clear: both;}
@media screen and (min-width:1453px) {

  .Group1, .Group2, .Group3{
    Width: 30%;
    float: left;
  }
}
